<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Store_app_pro_1"
        tools:targetApi="31">
        <activity
            android:name=".ui.activites.home.profile_fragment.settings.help_center.HelpCenterActivity"
            android:exported="true"
            android:theme="@style/Theme.Store_app_pro_1.toolBar">


            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activites.home.profile_fragment.notifications.NotificationsActivity"
            android:exported="true"
            android:theme="@style/Theme.Store_app_pro_1.toolBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activites.home.profile_fragment.settings.contact_us.ContactUsActivity"
            android:exported="true"
            android:theme="@style/Theme.Store_app_pro_1.toolBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activites.home.profile_fragment.settings.privacy_policy.PrivacyPolicyActivity"
            android:exported="true"
            android:theme="@style/Theme.Store_app_pro_1.toolBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activites.home.profile_fragment.about_app.AboutAppActivity"
            android:exported="true"
            android:theme="@style/Theme.Store_app_pro_1.toolBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activites.home.profile_fragment.favorite.FavoriteActivity"
            android:exported="true"
            android:theme="@style/Theme.Store_app_pro_1.toolBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activites.home.profile_fragment.settings.SettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.Store_app_pro_1.toolBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activites.home.profile_fragment.myProfile.PersonalDataActivity"
            android:exported="true"
            android:theme="@style/Theme.Store_app_pro_1.toolBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activites.home.profile_fragment.orders.OrderDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Store_app_pro_1.toolBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activites.home.profile_fragment.orders.OrdersActivity"
            android:exported="true"
            android:theme="@style/Theme.Store_app_pro_1.toolBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activites.home.category_fragment.CategoryActivity"
            android:exported="true"
            android:theme="@style/Theme.Store_app_pro_1.toolBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activites.search.SearchActivity"
            android:exported="true"
            android:theme="@style/Theme.Store_app_pro_1.toolBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activites.success_payment.SuccessPaymentActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activites.payment.PaymentActivity"
            android:exported="true"
            android:theme="@style/Theme.Store_app_pro_1.toolBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activites.cart.CartActivity"
            android:exported="true"
            android:theme="@style/Theme.Store_app_pro_1.toolBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activites.details.DetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Store_app_pro_1.toolBar_DetailsActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activites.home.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.Store_app_pro_1.toolBar">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
            <meta-data
                android:name="android.app.lib_name"
                android:value="1" />
        </activity>
        <activity
            android:name=".ui.activites.reset_password.ResetPasswordActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activites.forget_password.ForgetPasswordActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activites.verfiy.VerfiyActivity"
            android:exported="true">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activites.privacy.PrivacyActivity"
            android:exported="true"
            android:theme="@style/Theme.Store_app_pro_1.toolBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activites.register.RegisterActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activites.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activites.splash.two.OnBoardingTwoActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activites.splash.one.OnBoardingOneActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- android:theme="@style/Theme.Store_app_pro_1" -->
        <!-- android:theme="@style/Theme.MySplash" -->
        <activity
            android:name=".ui.activites.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- android:theme="@style/Theme.MySplash" -->
            <!-- > -->

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>